# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# Django
db.sqlite3
media/
staticfiles/

# Virtual environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Migrations
api/migrations/*.py
!api/migrations/__init__.py